



.chat-area {
  padding: 3rem 3rem 2rem;
  width: 100%;
  height: 80%;
  position: relative;
  bottom: 0;
  overflow-y: auto;
  background-color: $color-card-background;
  box-shadow: 0 8px 10px rgba($color: #000000, $alpha: .2),
  0 10px 10px rgba($color: #000000, $alpha: .2);

  @include response(phone){
    box-shadow: none;
    height: 85%;
  }
  
  .message-data {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    align-items: center;
    text-transform: capitalize;
    width: 70%;
    display: flex;
    justify-content: flex-start;

    @include response(phone){
      font-size: 1rem;
      margin-bottom: 0;
    }
  }

  .sender-data{
    width: 100%;
      justify-content: flex-end;
      
  }
  .receive-data{
    text-align: left;
}
  
  .message-data-time {
    color: lighten(gray, 8%);
    padding-left: 1rem;
    font-size: 1rem;
    @include response(phone){
      font-size: .85rem;
    }
  }
  
  .message {      
    color: black;
    padding: 18px 20px;
    line-height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 3rem;
    width: 60%;
    position: relative;

    @include response(phone){
      font-size: 1.2rem;
      width: 80%;
      padding: 5px 10px;

    }

    &:after {
      bottom: 100%;
      left: 7%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-width: 10px;
      margin-left: -10px;
    }
  }
  
  .send-message {
    background: white;
    float: right;
    text-align: left;
    word-break: break-all;
    
   
  }
  
  .receive-message {
    background-color: $color-primary-light;
    word-break: break-all;
    float: left;
    text-align: left;
    
  }
  
}

.clearfix{
  list-style-type: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


//Chat send Box

.chat-box{
  width: 95%;
  display: flex;
  align-items: center;
  height: 10%;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  background-color: #fff;
  justify-content: space-between;
  border-top: 1px solid gray;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

    @include response(phone){
      height: 7%;
      width: 100%;
    }

  a {
    display: inline-block;
    text-align: center;
  }

  &__icon {
      width: 35px;
      cursor: pointer;
      color: $color-primary-dark;
      @include removeDefaultButtonStyle;
      height: 35px;
      font-size: 20px;
      box-shadow: none;
      order: 2;
      margin: 0 20px;

      @include response(phone){
        margin-left: 10px;
        width: 20px;
      }

      svg{
        font-size: 2rem;
      }
  }
  
  &__input{
      position: relative;
      text-align: left;
      outline: none;
      width: 90%;
      height: 100%;
      padding-left: 3rem;
      font-size: 1.8rem;
      font-family: 'Roboto';
      color: #4b4b4b;            
      border: 1px solid $color-primary-dark;
      outline: none;

      &:required{
        box-shadow: none;
        outline: none;
      }

      @include response(phone){
        font-size: 1.4rem;
      }
      

  }

  &__submit{
      margin-left: 0;
      color: $color-primary-dark;
      font-size: 2rem;
      border-left: 1px solid $color-primary-dark;
      position: relative;
      border: 1px solid black;
      cursor: pointer;
      background-color: white;
      height: 90%;



      & > *{
          font-size: 3rem;

      }
  }
}