.header{
    display: flex;
    align-items: center;
    background-color: $color-nav-header;
    border-bottom: .5vh red solid;
    box-shadow: 10px 10px 20px black;
    height: 15vh;
    font-size: 1.4rem;
    justify-content: flex-end;
}
.user{
    display: flex;
    margin-right: 3rem;
    align-items: center;

    & > *{
        margin-left: 2rem ;
    }

    &__photo{
        border-radius:50%;
        margin-right: 2rem;
        width: 4rem;
        height: 4rem;
    }
}

