/**CHAT ROOM PAGE STYLING**/

.chatroom{
    &__left-section{
        background-color:  $color-card-background;
        height: 100%;
        margin-right: 2rem;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, .15);
        margin-left: $left-nav-width;
        width: 35vw;
        overflow: auto;

        @include response(phone){
            box-shadow: none;
            width: 100vw;
            margin-left: - 80vw;
            margin-right: 1px;
        }

        &__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
        }

        .primary-header{
            text-align: left;
        }

        .contact-container{
            width: 100%;
            height: 25%;
            display: flex;
            overflow: auto;
            border-top: 2px $color-background solid;
            border-bottom: 4px $color-background solid;

        }
        
        .user-contacts{
            display: flex;
            overflow: auto;
            padding: 19px;

            &__item{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__username{
                font-weight: 600;
                font-size: 1rem;
                margin-top: 1rem;
            }
        }

        .event{
            display: flex;
            text-align: left;
            flex-direction: column;

            .list-group-item-info{
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                padding: 10px;
                padding-bottom: 0;
                text-transform: uppercase;
                font-size: 1.4rem;
            }

            &__input{
                width: 70%;
                margin-left: 10px;
            }

            &__label{
                margin-left: 10px;


            }
            &__list{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            
        }

        
      
        .users{
            width: 100%;
            height: 100%;

            .search-box{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 1rem;
                height: 10%;
                position: relative;

                &__input{
                    width: 80%;
                    border-bottom: 1px grey solid;
                    position: relative;

                    height: 100%;
                    background-color: white;

                    &:focus{
                        outline: none;
                    }
                }

                &__icon{
                    top: -5px;
                    position: relative;
                    background-color: $color-icon;
                    font-size: 1.8em;
                    
                }
            }

            .item-list{
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
            }

        }
    }

    &__main-section{
        height: 95%;
        width: 50vw;
        position: relative;

        @include response(phone){
            width: 0;
            flex-grow: 1;
            flex-shrink: 1;
            ;
        }

        .chat-container{
            width: 100%;
            height: 100%;

            .chat-area-header{
                display: flex;
                z-index: 4;
                justify-content: flex-end;
                background-color: white;
                align-items: center;
                width: 100%;
                height: 10%;
                border-bottom: 2px  solid $color-icon ;
                 
                & > *{
                    @include response(phone){
                        display: none;
                    }
                }

                .icon{
                    color: $color-icon;
                    font-size: 2rem;
                    margin: 0 10px;
                    position: relative;
                    cursor: pointer;

                   
                    
                    

                    &:hover{
                        opacity: .5;
                        transform: scale(1.5);
                    }

                    .strike {
                        position: absolute;
                        width: 150%;
                        height: .2rem;
                        background-color: black;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 0;
                        border: 1px solid black;
                        transform: rotate(45deg);
                    }
                }
            }

        }
        &__right-section{
            background-color:  transparent;
            margin-left: 20px;
            height: 100%;
            width: 30vw;
        }

    }

}

.group{

    .chatroom__main-section{
        width: 90vw;
        margin-top: 10px;
    }
    &__right-section{
        border-radius: 10px;
        margin: 20px;
        height: 90%;
        width: 30vw;
        position: relative;
        background-color: $color-card-background;
        padding: 20px;
        box-shadow: 0 8px 10px rgba(0, 0, 0, .21), 0 8px 10px rgba(0, 0, 0, .21) ;

        @include response(phone){
            width: 90vw;
            height: 30%;
            overflow-y: auto;
        }

    }
}