/**STYLING OF PROFILE PAGE **/
.profile{

    &__third{
        grid-column: center-start / col-end 2;
        box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: .4);
        width: 100%;
        color: black;
        display: grid;
        background-color:white;
        height: 70%;
        grid-template-columns: repeat(2, 1fr);
        

        @include response(phone){
            grid-column: full-start / full-end;
            height: max-content;
            align-self: flex-end;


        }

        @include response(tab-port){
            grid-column: col-end 1/ col-end 7;
            height: max-content;
            align-self: flex-end;



        }

    }

      &__display{


        &--image{
            grid-column: 1 / -1;
            grid-row:  1 / 2;
            width: 100%;
            height: 35vh;

        }

        &--user{
            color: black;
            background-color: $color-primary-dark;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            
            grid-column: 1 / -1;
            grid-row:  1 / 2;
            align-self: flex-end;
            z-index: 2;
            transform: translateY(-50%);

            @include response(phone){
                transform: none;
                margin: 0;
    
            }

            @include response(tab-port){
                transform: none;
                margin: 0;
    
            }

        }
    }

    &__item{
         
        list-style: none;
        font-size: 1.6rem;

        @include response(phone){
            margin: .6rem;
        }

        @include response(tab-port){
            margin: .6rem;
        }

        .label{
            font-weight: bold;
            padding: 1rem;
        }

        .value{
            text-transform: lowercase;
        }

    }

    &__list{
        grid-column: 1 / -1;
        justify-self: center;
         


    }

    &__two-third{
        grid-column: col-start  3 / center-end ;
        box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: .4),
        0px 10px 10px rgba($color: #000000, $alpha: .4);
        text-align: left;
        position: relative;
        margin-left: 3rem;
        padding: 4rem;
        flex-grow: 1;
        height: 70%;
        background-color: white;

        @include response(phone){
            grid-column: full-start / full-end;
            margin: 0;
            align-self: flex-start;

        }

         @include response(tab-port){
            grid-column: col-end 1/ col-end 7;
            margin: 0;
            align-self: flex-start;
            height: max-content;


        }


    }


}