/**USER ICON STYLING **/

.user-icon{
    margin: 0rem 2rem 0 2rem;
    position: relative;

    &__photo{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;

    }
    &__photo-border{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border-color: white ;
        border-style: solid;
        border-width: 3px;
    }

    &__current-status{
        background-color: #4cd137;
        position: absolute;
        left: 65%;
        top: 70%;
        height: 20px;
        width: 20px;
        border:3px solid white;
        border-radius: 50%;

    }
    .online{
        background-color: #4cd137;
        position: absolute;
        left: 65%;
        top: 70%;
        height: 20px;
        width: 20px;
        border:3px solid white;
        border-radius: 50%;
      }

    .offline{
        background-color: yellow;
        position: absolute;
        left: 65%;
        top: 70%;
        height: 20px;
        width: 20px;
        border:3px solid white;
        border-radius: 50%;
    }
}