.dropdown{
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 49rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 25vw;
    height: 40vh;
    top: 15vh;

    @include response(phone){
        right: 0vw;
        min-width: 100%;
    }

    @include response(tab-port) {
        right: 5vw;
    }

    @include response(tab-land) {
        right: 25vw;
    }


    &__header{
        background-color:$color-primary-dark;
        height:20%;
        font-size: 2rem;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        color: white;
        top:-1px;
        left:-1px;
        border:1px solid gray;
    }

    &__list {
        display: flex;
        height: 80%;
        overflow-y: auto;
        flex-direction: column;

        .unread{
            background-color: rgb(214, 250, 214);
        }
        .read{
            background-color: transparent;
        }
    }

    &__item {
        padding: 2rem;
        text-align: center;
        cursor: pointer;
        border-bottom: 1px solid black;
        width: 100%;

    }

   
}


  
  