/**AUTH FORM STYLING **/

.form{
    display: flex;
    position: relative;
    text-align: center;
    width: 100%;
    flex-direction: column;
    border-top: 2px solid black;
    justify-content: center;
    padding-top: 4rem;

    @include response(phone){
        width: 100%
    }

    @include response(tab-land){
        width: 100%
    }

    &__component{
        display: flex;
        margin: 3rem auto 0 auto;
        width: 80%;
    }

    &__group{
        position: relative;
        width: 100%;

        &__icon{
            margin-right: 30px;
            @include response(phone) {
                font-size: 1.5rem;
            }

            @include response(phone){
                display: none;
    
            }
        }
    }

    &__group-image{
        display: flex;
        align-content: center;
        justify-content: center;
        width: 54%;
        margin: 30px auto 0 auto;
        height: 4vh;

        @include response(phone) {
            font-size: 2rem;

        }

        &__icon {
            display: flex;
            height: 100%;

          

            &:first-child{
                font-size: 20px;
            }
        }
        .image-upload{

            &__input{
                display: none;
            }

            &__message{
                width: 60%;
                font-size: 1.3rem;
            }

            &__button{
                @include removeDefaultButtonStyle;
                border: 1px solid gray;
                padding: 0 2rem;
                cursor: pointer;
                font-size: 1.3rem;
                color: black;
                background-color: $color-primary-dark;

                @include response(phone){
                    padding: 1px 2px;
                }
            }
            
        }

    }
    
    &__input{
        border: none;
        position: relative;
        background-color: transparent;
        border:3px solid $color-primary-dark;
        width: 100%;
        height: 7vh;
        margin-bottom: 10px;
        padding: 0;
        font-size: 1.6rem;

        @include response(phone){
            font-size: 1.5rem;
        }

        &:focus{
            outline: none;
        }

        &::placeholder{
            color: black;
        }
    }
  
    &__label{
        position: absolute;
        font-size: 1.2rem;
        left: 0;
        top: -2.2rem;

        @include response(phone){
            display: none;

        }
    }
    
}

.login-signup{
    font-size: 1.3rem;
    padding: 2rem 0 ;

    @include response(phone){
        padding: 0 0 2rem 0 ;
        font-size: 1rem;
    }

    .switch-auth{
        color: red;
        cursor: pointer;
    }
}

.alert-error{
    color: #D8000C;
    background-color: #FFD2D2;
    width: 60%;
    margin: 0 auto;
    font-size: 1.5rem;

    @include response(phone){
        margin: 2rem auto;
        font-size: 1rem;
    }
}