.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: black, $alpha: .2);
    z-index: 60;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        border: 20px $color-primary-dark solid;
        border-bottom: 20px white solid;
        animation-name: spinner;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;

        
    }
}