/** MESSAGES AND USER FRIENDS SECTION STYLING **/

.messages{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.message{
    display: flex;
    align-items: center;
    border-bottom: 2px solid gray;
    padding: 4rem 4rem;

    &__image{

        .user-icon{
            margin-top: 0;
        }
    }

    &__content{
        text-align: left;
        margin-right: 10%;
        font-size: 2rem;
        cursor: pointer;

        &__count{
            font-size: 1.3rem;
            font-weight: 400;
        }



        &__username{
            font-size: 1.2rem;
        }

        &__message{
            font-size: .9rem;
        }
    }
}


