@import 'https://fonts.googleapis.com/css?family=Raleway';
/**USERS CARD STYLING **/


.user-card {
  display: flex;
  margin-top: 10%;
  align-items: center;
  width: 70%;
  padding: 10px;
  height: 5%;
  position: relative;
  border-radius: 3rem;
  background-color: #fafafa;
  box-shadow: 0 0 2rem #babbbc;

    &__image{
      width: 6rem;
      border-radius: 50%;
      height: 6rem;
    }

    &__info{
      width: 60%;
      display: flex;
      margin-left: 10px;
      flex-direction: row;
      align-items: center;
    }

    &__buttons{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
     
     .friend-request{
      cursor: pointer;

     }

     svg{
       color: rgb(253, 97, 97);
       margin: 5px;

       :hover{
         transform: scale(1);
       }
     }
    }

   
    }


