
.video-container{
    position: fixed;
    z-index: 30;
    display: grid;
    width: 65vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 80vh;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);

    &__buttons{
        grid-row: 6 / 7;
        grid-column: 3 / 5;
        z-index: 40;
        display: flex;
        justify-content: center;
    }

    &__button{
        width: 9rem;
        height: 9rem;
        background-color: red;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;


        svg{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: #fff;
            height: 100%;
            cursor: pointer
        }
    

    }

    &__item{

    }
}

.remote-video{
    position: relative;
    width: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}

.local-video {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    z-index: 30;
    width: 100%;
    height: 100%;
}

.video-calling{
    position: fixed;
    z-index: 30;
    width: 70vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

    &__receiver{
        width: 100%;
        height: 100%;
    }

    &__buttons{
        display: flex;
        position: absolute;
        z-index: 40;
    }

    &__button{
        width: 9rem;
        height: 9rem;
        background-color: red;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        
        &.accept{
            background-color: green;
            animation: calling 3s linear infinite;

        }

        &.reject{
            animation: animate 3s linear infinite;
        }


        svg{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            color: #fff;
            height: 100%;
            cursor: pointer
        }
    }

    &__sender{
        position: absolute;
        z-index: 30;
        width: 40%;
        height: 40%;
        background-color: blue;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0, 0);
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__receiver {

    }

}

.video-receiving {
    position: fixed;
    z-index: 30;
    width: 40vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;

    &__caller{
        align-self: center;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 20%;
    }

    &__avatar{
        width: 11rem;
        border-radius: 50%;
        overflow: hidden;
        height: 11rem;
        border: 4px solid black;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__username{
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

}
