.image-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__input{
        display: none;
    }

    &__avatar{
        width: 30rem;
        height: 30rem;
        overflow: hidden;
        border: 3px green solid;
        border-radius: 50%;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__buttons{
        display: flex;
        justify-content: space-around;

        & > *{
            margin: 3rem 2rem;
        }
    }
}

