/*****Colors*******/ 
$color-primary-light: #06ff7a;
$color-primary-dark: #0EBD60;
$color-card-background: #CAD1C9;
$color-secondary: #FFCF79;
$color-button:rgb(5, 255, 5);
$color-nav-header:white;
$color-nav:rgb(255, 81, 104);
$color-logo-background:rgb(250, 27, 57);
$color-background: rgb(231, 230, 230);
$color-icon:rgb(250, 27, 57);

$color-primary-header: white ;
$color-secondary-header: black ;
$color-tertiary-header: black;

/*****DIMENSION*******/ 

$left-nav-width: 10%;

/**OTHERS**/
$box-shadow: 0 1.5rem 4rem rgba(0,0,0,.15)