.auth-page{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100vh;

    &__left-section{
        margin: 4rem 0;
        width: 40%;

        @include response(phone){
            width: 100%;
        }

        @include response(tab-port) {
            width: 100%
        }

        @include response(tab-land) {
            width: 60%
        }
    }

    &__header{
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            width: 4rem;
            height: 4rem;
            margin: 0 1rem;
        }

        .app-name{
            font-size: 2rem;
            font-family: 'Audiowide',
            Courier,
            monospace;
            font-weight: bolder;
            text-transform: uppercase;
        }
        
    }

    &__right-section {
        width: 60%;
        flex-shrink: 1;
        flex-grow: 1;
        background-size: contain;

        @include response(phone) {
            width: 0%;
        }

        @include response(tab-port) {
            width: 0%;
        }
    }
}

.form-nav{
    
    &__list{
        display: flex;
        justify-content: center;

    }

    &__item{
        list-style: none;
        font-size: 1.5rem;
        border-right: 1px solid black;
        text-decoration: none;

        &:last-child{
            border-right: none;
        }

    }

    &__link{
        &,
        &:link{
            padding: 2rem 3rem;
            background-color: grey;
            display: block;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
        }
        
    }
}

.active-auth{
    background-color: $color-primary-light;
}