.chatroom{
    display: flex;
    height: 100%;
    width: 60%;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 auto;

    @include response(phone){
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    @include response(tab-port) {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }


}