.profile-page{
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) 
        [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
        [center-end] minmax(6rem, 1fr) [full-end];
    height: 85vh;
    justify-content: center;
    align-items: center;

    @include response(phone){
        margin: 3rem auto;
        width: 90%;
    }

    @include response(tab-port){
        margin: 3rem 0;
        width: 95%;
    }


    
}