@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes growingLoader{
    0%{
        background-color: #000;
        height: 4rem;
        width: 4rem;
    }

    49%{
        background-color: #000;
    }
    60%{
        background-color:transparent;
    }

    90%{
        background-color:transparent;
    }

    90%{
        background-color:transparent;
    }
}