@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes growingLoader{
    0%{
        background-color: #000;
        height: 4rem;
        width: 4rem;
    }

    49%{
        background-color: #000;
    }
    60%{
        background-color:transparent;
    }

    90%{
        background-color:transparent;
    }

    90%{
        background-color:transparent;
    }
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7)
    }

    40% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 0 rgba(255, 109, 74, 0.7)
    }

    80% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0)
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0)
    }
  
}

@keyframes calling {
    0% {
        box-shadow: 0 0 0 0 rgba(89, 255, 74, 0.7),
        0 0 0 0 rgba(89, 255, 74, 0.7)
    }

    40% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
        0 0 0 0 rgba(89, 255, 74, 0.7)
    }

    80% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0)
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0)
    }

}