#root{
  height: 100vh;
}
*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  font-size:  62.5%;

  @include response(phone) {
      font-size: 50%;
  }
  @include response(tab-port) { 
      font-size: 56%;
  }
  @include response(tab-land) { 
      font-size: 50%;
  }
  @include response(big-desktop) {
      font-size: 55%;
  }

}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    height: 100vh;
    line-height: 1.7;
    background-color: rgb(236, 231, 231);
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
  }
  
  /**SCROLL BAR STYLING*****/
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }