.messages-page{
    display: block;
    grid-column: sidebar-start / full-end;
    grid-template-columns: inherit;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 80vh;
}

.user-list{
    background-color: white;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 15rem;
    border-right: 3px solid $color-primary-light;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;

    & > .avatar-icon {
        position: relative;
        width: 6rem;
        height: 6rem;
        margin: 1.5rem 0;
        cursor: pointer;
        z-index: 4;

        img{
            width: 6rem;
            height: 6rem;
            border: 5px solid gray;
            border-radius: 50%;
        }

        .online-status{
            width: 15px;
            border-radius: 50%;
            height: 15px;
            border: 2px solid gainsboro;
            background-color: black;
            position: absolute;
            top: 0;
            right: 4px;

            &.online{
                background-color: #5eff00;
            }

            &.offline{
                background-color: rgb(255, 217, 0);
            }
        }

        .messages{
            bottom: 0;
            right: 0px;
            background-color: red;
            font-size: 1.2rem;
            height: 2.2rem;
            width: 2.2rem;
            border-radius: 50%;
            color: #fff;
            position: absolute;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @include response(tab-land){
        width: 8rem;
    }
}

.chat-window{
    height: 100%;
    position: absolute;
    top: 0;
    width: calc(100% - 60rem);
    left: 15rem;

    @include response(tab-land){
        width: calc(100% - 8rem);
        left: 8rem;
    }
}

.user-profile {
    background-color: white;
    right: 0;
    width: 45rem;
    position: absolute;
    top: 0;
    transform: none;
    height: 100%  ;

    .user-summary__button{
        justify-self: flex-start;

        svg{            
            font-size: 4rem;
            display: none;
            
            @include response(tab-land){
                display: block;
            }
        }
    }

    @include response(tab-land){
        width: calc(100% - 8rem);
        transition: all 1s linear;
        transform: translateX(100%) ;

        &.show-profile-component{
            transform: translate(0px);
        }
    }


}