.event-form-container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;

    button {
        margin: 20px auto;
    }

    .close-button{
        font-size: 4rem;
        color: red;
        cursor: pointer;
        justify-self: flex-end;
    }
}