//font
@import url('https://fonts.googleapis.com/css?family=Audiowide|Anton|Libre+Franklin|Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');

//abstract
@import "./abstract/mixin";
@import "./abstract/value";
//base
@import "./base/base";
@import "./base/topography";
@import "./base/animation";

//component
@import "./component/card";
@import "./component/button";
@import "./component/iframe";
@import "./component/user-list-item";
@import "./component/form";
@import "./component/contact-list";
@import "./component/medial-object";
@import "./component/modal";
@import "./component/profile";
@import "./component/icon-custom";
@import "./component/notification";
@import "./component/drop-down";
@import "./component/loader";

//layout
@import "./layout/header";
@import "./layout/navigation";
@import "./layout/sections";
@import "./layout/chat-area";
@import "./layout/user-profile";
@import "./layout/group-members-section";

//page
@import "./pages/auth.scss";
@import "./pages/chatroom.scss";
@import "./pages/group.scss";
@import "./pages/profile.scss";
@import "./pages/not-found.scss";
